requests
pydantic
tqdm
pandas
ipykernel
ipywidgets
jupyter
fastapi
fastapi[standard]
ruff
pytest
pytest-cov
taskipy
typos
ignr
sqlalchemy
pydantic-settings
alembic
mkdocs
pymdown-extensions
mkdocs-material